body, button {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

header, #score-msg {
    font-size: 7vmin;
    width: 100%;
}

#score-msg {
    font-size: 5vmin;
}

#game-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin;
    column-gap: 4vmin;
    row-gap: 4vmin;

}

#game-grid > div {
    border: 1.3vmin solid black;
}


#reset {
    font-size: 4vmin;
    padding: 2vmin;
    margin-top: 5vmin;
    border: .1vmin solid black;
}



