header {
    text-align: center;
    padding: 2vmin;
}

#game-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px;

}

#game-grid > div {
    color: blue;
    border: 1px solid black;
}