header, h2 {
    text-align: center;
    padding: 2vmin;
}

#game-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;

}

#game-grid > div {
    color: blue;
    border: 1px solid black;
}